{% extends 'PC/base.html' %}
{% block content %}
<h1>{{title}}</h1>

<p>The site was done by Panfil Alexandru, after the tutorial from the youtube, this is my first Django Project so don't blade me too hard, thanks
<nav class="Navbar">
  <div class="l-Wrapper l-Wrapper--reset@sm-down">
    <ul class="u-pullRight u-hidden@xs-down">
      <li>
        <a class="Navbar-btn Navbar-btn--main" href="https://github.com/AlexandruPanfil" target="_blank">Download
          <span>(pdf)</span>
        </a>
      </li>
    </ul>
    <ul>
      <li><a href="https://www.linkedin.com/" target="_blank">Linkedin</a></li>
      <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
      <li><a href="https://codepen.io/" target="_blank">Codepen</a></li>
    </ul>
  </div>
</nav>

<article class="l-Wrapper">

  <div class="l-Header">
    <div class="l-Header-col">
      <a href="https://github.com/AlexandruPanfil" target="_blank">
        <h1 class="Title">
          <span class="u-shadow">
            Panfil<br>
            Alexandru
          </span>
          <span class="Title-sub">Python Developer (Backend)</span>
        </h1>
      </a>
    </div>
    <div class="l-Header-col Contact">
      <div>Republic of Moldova, Chisinau</div>
      <div><a class="u-link" href="https://github.com/AlexandruPanfil" target="_blank">Git: AlexandruPanfil</a></div>
      <div><a class="u-link" href="mailto:alex.panfil.02@gmail.com" target="_blank">alex.panfil.02@gmail.com</a></div>
    </div>
  </div>

  <section class="l-Section">
    <h2 class="l-Section-title h3 u-hidden@sm-down">Profile</h2>
    <div class="l-Section-content">
      <p>I'm a System Administrator with good knowledge of Python</p>
    </div>
  </section>

  <section class="l-Section">
    <h2 class="l-Section-title h3">Skills</h2>
    <div class="l-Section-content">
      <ul>
        <li>Highly skilled in creating performant <strong class="Tag">Python Sripts</strong><!--, <strong class="Tag">CSS</strong></li> -->
        <li>Passionate about <strong class="Tag">Programming</strong> and <strong class="Tag">New technologies</strong></li>
        <li>Skilled in creating <strong class="Tag">Django Sites</strong>, <strong class="Tag">Restfull API</strong> and <strong class="Tag">other programms</strong></li>
        <li>Experienced with <strong class="Tag">Python, Database</strong> and <strong class="Tag">Network Firewalls</strong></li>
        <li>Proficient with <strong class="Tag">Task Runners</strong> and <strong class="Tag">Package Managers</strong> and <strong class="Tag">Version Control Systems</strong></li>
        <li>Knowledgeable about <strong class="Tag">Responsive Web Development</strong>, <strong class="Tag">Accessibility</strong>, <strong class="Tag">Cyber Security</strong>, <strong class="Tag">Network</strong></li>
      </ul>
    </div>
  </section>

  <section class="l-Section">
    <h2 class="l-Section-title h3">Experience</h2>
    <div class="l-Section-content">
      <h3>System Administartor</h3>
      <a class="u-link" href="https://iland-guard.com/main" target="_blank">IlandGuard, Chisinau</a> (MD)<br> December 2022 - present
      <ul>
        <li>Automatisation of working process </li>
        <li>Managing the security of Command Center.</li>
        <li>Supporting clients with CCTV and Routers</li>
        <li>Maintenance of the office computers</li>
        <li>Guiding the other technicians in their tasks
        </li>
      </ul>

      <h3>Backend Python Developer</h3>
      <a class="u-link" href="http://taskmd.com/" target="_blank">Self employment, Chisinau</a> (MD)<br> February 2024 - present
      <ul>
        <li>Creating a working platform for the future freelancers</li>
        <li>MProgresive API</li>
        <li>Writing a good reading code
        </li>
      </ul>

      <h3>Technician support</h3>
      <a class="u-link" href="https://iland-guard.com/main" target="_blank">IlandGuard, Chisinau</a> (MD)<br> September 2021 - December 2022
      <ul>
        <li>1.</li>
        <li>2.</li>
        <li>3.</li>
        <li>4.</li>
        <li>5.</li>
        <li>6.</li>
        <li>7.
        </li>
      </ul>
    </div>
  </section>

  <section class="l-Section">
    <h2 class="l-Section-title h3">Education</h2>
    <div class="l-Section-content">
      <h3>College of Microelectronics, Technician in computers</h3>
      <a class="u-link" href="https://ceee.md/" target="_blank">College of Microelectronics</a> (MD)<br> 2018-2022
      <p>A full-time degree programme that provides the technical expertise as well as the microelectronics and programming skills in areas including web (backend and frontend development), multimedia, 3D modelling, animation, audio & video production.</p>
    </div>
  </section>

  <section class="l-Section u-hidden@print">
    <h2 class="l-Section-title h3">Interests</h2>
    <div class="l-Section-content">
      <p>Python, Firewalls, Network Attached Storage, Automatization, Meat, Good Food, Traveling / Randevu</p>
    </div>
  </section>
</article>

<div class="l-Wrapper u-keyline">
  <div class="l-Footer">
    <div class="l-Footer-col">
      <strong class="Tag">A. Panfil</strong>
    </div>
    <div class="l-Footer-col Contact">
      <a href="https://github.com/AlexandruPanfil" target="_blank">Panfil Alexandru</a>
      <a href="mailto:alex.panfil.02@gmail.com" target="_blank">alex.panfil.02@gmail.com</a>
    </div>
  </div>
</div>
{% endblock %}
